{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Comments Work plugin for Craft CMS 3.x
 *
 * Comments Work index.twig
 *
 * @author    24hoursmedia
 * @copyright Copyright (c) 2018 24hoursmedia
 * @link      https://www.24hoursmedia.com
 * @package   CommentsWork
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("twentyfourhoursmedia\\commentswork\\assetbundles\\commentswork\\CommentsWorkAsset") %}
{% do view.registerAssetBundle("twentyfourhoursmedia\\commentswork\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/24hoursmedia-craftcms/comments-work/comments-work/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Comments Work" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('comments-work') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@twentyfourhoursmedia/commentswork/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}


{# @var commentsWork \twentyfourhoursmedia\commentswork\services\CommentsWorkService #}
{% set commentsWork = craft.commentsWork.service %}


{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('comments-work') }}</a>
    </div>
{% endset %}

{#
<img src="{{ iconUrl }}" height="64" width="64" />
#}

{# The content of the CP Section#}
{% block content %}
    <h2>{{ "Latest comments"|t('comments-work') }}</h2>

    <p class="textline"></p>

    {{ commentsWork.countComments(null, {status: 'ALL'}) }} total comments |
    {{ commentsWork.countComments(null, {status: 'APPROVED'}) }} approved comments |
    {{ commentsWork.countComments(null, {status: 'PENDING'}) }} pending comments

    <p class="textline"></p>

    <span class="status live "></span> APPROVED
    &nbsp;&nbsp;
    <span class="status pending "></span> PENDING

    <p class="textline"></p>
    <br/><br/>

    {% set comments = commentsWork.fetchComments(null, 0, 100, {status: 'ALL'}) %}
    <div class="tableview">
        <table class="data fullwidth">
            <thead>
            <th>Status</th>
            <th></th>
            <th>Element</th>
            <th></th>
            <th>Poster</th>
            <th>Title</th>
            <th>Content</th>
            <th>Actions</th>
            </thead>
            <tbody>
            {% for comment in comments %}
                {% set element = craft.app.elements.elementById(comment.elementId) %}
                <tr>
                    <td>
                        {% set status = '' %}
                        {% if comment.status == 'APPROVED' %}{% set status = 'live' %}{% endif %}
                        {% if comment.status == 'PENDING' %}{% set status = 'pending' %}{% endif %}
                        <span class="status {{ status }} "></span>
                    </td>
                    <td>
                        {{ comment.dateCreated | date }}
                        {{ comment.dateCreated | date('H:i') }}
                    </td>
                    <td>
                        {% set url = element.cpEditUrl %}
                        {%- if url %}
                            <a href="{{ url }}">{{ element.title }}</a>
                        {% else %}
                            {{ element.title }}
                        {% endif -%}
                    </td>
                    <td width="5">{% if comment.user %}
                            {% if comment.user.photoId %}
                                <div id="user-photo">
                                    <img width="14" sizes="14px" srcset="{{ comment.user.getThumbUrl(14) }} 14w, {{ comment.user.getThumbUrl(28) }} 28w" alt="{{ comment.user.getName() }}">
                                </div>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{% if comment.user %}<a href="{{ comment.user.cpEditUrl }}">{{ comment.user.friendlyName }}</a>{% else %}<small>anonymous</small>{% endif %}</td>
                    <td>{{ comment.title }}</td>
                    <td>{{ comment.comment }}</td>
                    <td>
                        {% set editUrl =  pluginCpUrl %}
                        <a class="btn edit edit icon" href="{{ editUrl }}/editComment?id={{ comment.id }}">Edit</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

{% endblock %}
